* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;  
}
button{
    background-color: rgb(255, 255, 255); 
    font-size: 16px;  
    padding: 10px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
video {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
    align-items: center;
  }

footer {
    padding-bottom: 2%;
    text-align: center;
    position: fixed;
    /* bottom: 0; */
    width: 100%;
}

footer button {
    background-color: rgb(255, 255, 255); 
    padding: 10px 30px;
    font-size: 16px;
}

.space{
    width:60%;
    height:auto;
    display:inline-block;
}

.story{
    font-size: 18px;
    text-align: center;
}

.buddy{
    width: 70%;
    padding: 10px;
    margin: auto;
    text-align: left;
}

.userChoice{
    width: 70%;
    padding: 10px;
    margin: auto;
    text-align: center;
}